@{
    ViewBag.Title = "APS";
}

<br>
<br>
<br>
<h3>Tema: Reconhecimento Facial</h3>

<p>Proposta: Sistema de Validação de usuários, através do Reconhecimento Facial, sistema com caráter ambiental</p>
